{% extends './home_template.html' %}

{% block title %}Add Product{% endblock %}

{% block body %}



<div class="card-body">
    <form action="/addProduct1" method="POST">
        <div class="row mb-3">
            <div class="col">
                <label>Nombre del Producto</label>
                <input type="text" class="form-control mb-3" name="product_name" required>
            </div>
            <div class="col">
                <label>Precio del Producto</label>
                <input type="number" class="form-control mb-3" name="product_price" min="0" required>
            </div>
            <div class="col">
                <label>Cantidad del Producto</label>
                <input type="number" class="form-control mb-3" name="product_cant" min="0" required>
            </div>
            <div class="col">
                <button class="btn btn-primary mb-3 mt-4" type="submit">Save</button>
            </div>
        </div>

    </form>
</div>
{% endblock %}