{% extends './home_template.html' %}

{% block title %}Home{% endblock %}

{% block body %}


<div class="card shadow">
    <div class="card-body">
        <form action="/addBuy" method="POST">
            <div class="row mb-3">
                <div class="col">
                    <label>Producto</label>
                    <select class="form-select" aria-label="Default select example" id="product_id" name="product_id">
                        {% for p in product %}
                        <option value="{{p.product_id}}">{{p.product_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <label>Proveedor</label>
                    <select class="form-select" aria-label="Default select example" id="supplier_id" name="supplier_id">
                        {% for supplier in suppliers %}
                        <option value="{{supplier.supplier_id}}">{{supplier.supplier_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <label>Cantidad</label>
                    <input type="number" class="form-control mb-3" min = "0" name="product_cant">
                </div>
                <div class="col">
                    <button class="btn btn-secondary mb-3 mt-4" type="submit">Añadir</button>
                </div>
            </div>

        </form>


        <!-- Tabla -->

        <table class="table table-bordered">
            <h5>INFO DEL PROVEEDOR</h5>
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Cantidad</th>
                </tr>
            </thead>
        
        <tbody>
            {% for d in data %}
                <tr>
                    <td>{{d.buy_id}}</td>
                    <td>{{d.product_name}}</td>
                    <td>{{d.supplier_name}}</td>
                    <td>{{d.product_cant}}</td>
                </tr>
            {% endfor %}

        </tbody>

    </table>


    </div>
</div>

{% endblock %}