{% extends './home_template.html' %}

{% block title %}Home{% endblock %}

{% block body %}



<div class="card shadow">
    <div class="card-body">
        {% if current_user.rol == 0 %}
        <form action="/searchUserSale" method="POST">
            <div class="row mb-3">
                <div class="col">
                    <label>Nombre del usuario</label>
                    <input type="text" class="form-control mb-3" name="user_name">
                </div>
                <div class="col">
                    <button class="btn btn-secondary mb-3 mt-4" type="submit">Buscar</button>
                </div>
            </div>

        </form>
        {% endif %}


        <!-- Tabla -->

        <table class="table table-bordered">
            <h5>INFO DE LAS VENTAS</h5>
            <thead>
                <tr>
                    <th scope="col">Id Venta</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Fecha</th>
                </tr>
            </thead>
        
        <tbody>
            {% for d in data %}
                <tr>
                    <td>{{d.sale_id}}</td>
                    <td>{{d.name}}</td>
                    <td>{{d.lastname}}</td>
                    <td>{{d.product_name}}</td>
                    <td>{{d.product_cant}}</td>
                    <td>{{d.sale_date}}</td>
                </tr>
            {% endfor %}

        </tbody>

    </table>


    </div>
</div>

{% endblock %}