body{
    overflow-x: hidden;
}

#header_nav{
    background-color: #AAC7D8;
}

#message_user_name_log{
    background-color: #DFEBF6;
    color: #6c757d;
}

#agregar-carrito{
    background-color: #6c757d;
    color: whitesmoke;
    border-color: #6c757d;
}

#login{
    background-color: #AAC7D8;
}